html {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  scrollbar-gutter: stable;
}

body {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  background-color: #121212;
  color: #f5f5f5;
  padding: var(--line-height) 2ch;
  width: min(80ch, 100vw - 4ch);
  max-width: 80ch;
  line-height: var(--line-height);
  overflow-x: hidden;
}

header {
  flex: 1;
  text-align: left;
  padding-top: 2rem;
  margin-bottom: 1rem;
  /* display: flex; */
  /* align-items: center; */
}

header a.current-page,
header a.current-page:link,
header a.current-page:visited,
header a.current-page:hover,
header a.current-page:active {
  color: #ffa726;
}

header a {
  /* flex: 1; */
  /* flex-direction: row; */
  font-size: 1.5rem;
  margin-right: 1rem;
}

main {
  font-size: 1rem;
  line-height: 1.5;
  /* text-align: justify; */
  text-align: left;
  width: 100%;
  min-width: 100%;
}

.date {
  color: #757575;
  font-size: 0.9em;
  font-weight: normal;
  display: block;
  padding-bottom: 0.5rem;
}

footer {
  flex: 1;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  color: #757575;
}

address {
  padding-top: 0.5rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  /* last two are for centering if I wanna try out <100% width again */
  display: block;
  margin: 0 auto;
}

.image-container {
  margin: 1.5rem 0;
}

.image-description {
  color: #9e9e9e;
  font-size: 0.9em;
  font-weight: normal;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  color: inherit;
  text-decoration: none;
}

main a:link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #f5f5f5;
}

main a:visited,
main a:hover,
main a:active {
  color: #c0c0c0;
  opacity: 0.8;
  border-bottom: 1px solid #c0c0c0;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: inherit;
  text-decoration: none;
}

.no-indent {
  margin-left: 1.5rem;
  padding-left: 0;
  text-indent: 0;
  /* list-style: none; */
}

/* hover underline animation */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e4e4e7;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}
